@font-face {
  font-family: Mulish;
  src: url("./fonts/Mulish-VariableFont_wght.ttf");
  font-weight: 200 900;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  src: url("./fonts/Mulish-Italic-VariableFont_wght.ttf");
  font-weight: 200 900;
  font-style: italic;
}

* {
  font-family: Mulish;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
}

img:hover {
  cursor: pointer;
}
