@font-face {
  font-family: "bold";
  src: url("../font/SFProDisplay-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: bold;
}

button {
  outline: none;
  border: none;
}

img:hover {
  cursor: pointer;
}
